* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "poppins", sans-serif;
  background-color: rgb(66, 105, 233);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.box {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  width: 600px;
  max-width: 100%;
  text-align: center;
}

.box h3 {
  margin-top: 0;
}

.box p {
  margin: 2rem;
}

.box button {
  background-color: skyblue;
  border: none;
  border-radius: 3px;
  color: #fff;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: transform 0.1 linear;
}

.box button:focus {
  outline: none;
}

.box button:active {
  transform: scale(0.98);
}